<section class="about-me">
  <img class="avatar" src="assets/img/avatar.jpg" alt="avatar" width="180px" height="180px">
  <div class="contact-me">
    <a href="https://fb.com/arshavindn"><img src="assets/img/facebook-icon.png" alt="facebook" width="32px" height="32px"></a>
    <a href="https://twitter.com/arshavindn"><img src="assets/img/twitter-icon.png" alt="twitter" width="32px" height="32px"></a>
    <a href="https://plus.google.com/arshavindn"><img src="assets/img/google-plus-icon.png" alt="google-plus" width="32px" height="32px"></a>
  </div>
  <h2>A student, A developer, An opensource addict</h2>
  <p>Hello, I'm Tran Viet Ha. I'm currently a 4-year student at Da Nang University of Technology.</p>
  <p>I love reading books, lisening to music, swimming and playing soccer.</p>
  <p>I program for fun, maybe for solving some little problems of my life.</p>
</section>