<!doctype html>
<html ng-app="Bloggle">
<head>
  <title>mozart's blog</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Bubblegum+Sans|Montserrat|Raleway|Roboto&subset=vietnamese" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/base.css">
  <link rel="stylesheet" href="assets/css/home.css">
  <link rel="stylesheet" href="assets/css/about.css">
  <link rel="stylesheet" href="assets/css/new-post.css">
  <link rel="stylesheet" href="assets/css/widgets.css">
</head>

<body ng-controller="MainCtrl">
  <div class="jumbotron" ng-controller="MenuCtrl">
    <!-- <img src="assets/img/blog-cover.jpg" alt="blog-cover" width="100%"> -->
    <div class="menu" ng-if="menu_on">
      <div>
      <i class="glyphicon glyphicon-plus"></i><span><a href="#/post/new">New post</a></span>
      </div>
      <div>
        <i class="glyphicon glyphicon-off"></i><span>Log out</span>
      </div>
    </div>
    <span class="menu-btn glyphicon glyphicon-menu-hamburger" aria-hidden="true" ng-class="menu_on ? 'glyphicon-remove' : 'glyphicon-menu-hamburger'" ng-click="menu_on = !menu_on"></span>
  </div>
  <nav class="primary-nav" role='navigation'>
      <a href="#/">HOME</a>
      <a href="#">ARCHIVED</a>
      <a href="#/apps">APPS</a>
      <a href="#/about">ABOUT ME</a>
      <div class="search-box form-group has-feedback" ng-controller="SearchCtrl">
        <input type="text" class="form-control" ng-model="search" placeholder="Search..." />
        <i class="glyphicon glyphicon-search form-control-feedback"></i>
        <div ng-if="result.length != 0" class="box result">
          <div ng-repeat="post in result">
            <h4><a href="#/post/{{ post.id }}">{{post.title}}</a></h4>
          </div>
        </div>
      </div>
  </nav>
  <div class="container">
    <div class="row">
      <section class="blog-posts" ng-class="{'col-md-8': show_aside}" ng-view></section>
      <aside ng-if="show_aside" class="col-md-4">
        <div class="widget weather box" ng-controller="WeatherResourceCtrl">
          <p class="title">Weather</p>
          <div class="wrapper">
            <weather-info info="weather_data"></weather-info>
          </div>
        </div>
      </aside>
    </div>
  </div>
  <footer>
    <div class="container">
      <nav class="inner-footer">
          <a href="#/">Home</a>
          <a href="#">Archived</a>
          <a href="#/apps">Apps</a>
          <a href="#/about">About Me</a>
      </nav>
      <small class="inner-footer">&copy; MOZART 2016</small>
    </div>
  </footer>
</body>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-resource.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-sanitize.min.js"></script>
<script type="text/javascript" src="bower_components/tinymce-dist/tinymce.js"></script>
<script type="text/javascript" src="bower_components/angular-ui-tinymce/src/tinymce.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-strap/2.3.9/angular-strap.min.js"></script> -->
<script src="bloggle/Bloggle.js"></script>
<script src="bloggle/blog/Blog.js"></script>
<script src="bloggle/blog/controllers/BlogController.js"></script>
<script src="bloggle/blog/services/BlogService.js"></script>
<script src="bloggle/blog/directives/post.js"></script>
<script src="bloggle/app/App.js"></script>
<script src="bloggle/app/controllers/AppController.js"></script>
<script src="bloggle/weather/Weather.js"></script>
<script src="bloggle/weather/services/WeatherService.js"></script>
<script src="bloggle/weather/controllers/WeatherResourceCtrl.js"></script>
<script src="bloggle/weather/directives/weatherInfo.js"></script>
</html>
